<!DOCTYPE html>
<html>
    <head>
        <title>Basic Web Page</title>
    </head>
    <script>

        var request = new XMLHttpRequest()

        request.open('GET', 'http://localhost:8000/resultatsOngoing/', true)
        request.onload = function () {
            // Begin accessing JSON data here
            var data = JSON.parse(this.response)
            console.log(data)
            if (request.status >= 200 && request.status < 400) {
                    data.forEach(element => {
                        console.log(element);
                        let div = document.createElement('div');
                        div.id = 'listops';
                        div.innerHTML = '<p>' + "ID : " + element.id + " ; nombre de votes : " + element.numberVotes + ' votes </p>';
                        document.getElementById('listeoutput').appendChild(div)
                    });
            } else {
                console.log('error')
            }
        }

        request.send()

        
    </script>        
    <body>
        <button type="button" onclick=window.location.href='http://localhost:8000/view/matchs/' >Revenir en arriere</button>   
        <ol id="listeoutput">

        </ol>
    </body>
</html>